<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : kepco-model
* @FileName : CompInfoMapper.xml
* @Author : kh.yoon
* @Date : 2020-02-03
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="com.nuri.kepco.model.dao.CompInfoDAO">

	<sql id="base_where_list">
		<where>
		<if test="comp_seq != null" >     
            AND a.comp_seq = #{comp_seq}
        </if>        
		<if test="searchfield != null and searchquery != null " >
			AND ${searchfield} like concat(#{searchquery},'%')
		</if>
		</where>
	</sql>
	
	<sql id="order_by_list">	
		<foreach collection="orderByList" item="orderby" open="order by" index="index" separator=",">
            ${orderby.sort} ${orderby.dir}            
        </foreach>
	</sql>
	
	<sql id="query_limit">	
		<if test="limit > 0 " >
			LIMIT #{start}, #{limit}
		</if>
	</sql>
	
	<select id="selectCount" resultType="java.lang.Integer" parameterType="compInfo">	
		SELECT COUNT(*) co
		FROM EMI_COMP_INFO		
		<include refid="base_where_list" /> 
	</select>

	<select id="selectList" resultType="compInfo" parameterType="compInfo">	
		SELECT
			 comp_seq
			, comp_name
			, corp_reg_num
			, comp_reg_num
			, comp_stat
			, DATE_FORMAT(reg_dt,'${prop.dt}') AS reg_dt 
			, comp_manage
			, comp_type
			, comp_sector
			, comp_cat
			, comp_zcode
			, comp_addr1
			, comp_addr2
			, comp_addr3
			, comp_phone
			, comp_email
			, comp_fax
			, comp_id
			, reg_id
			, reg_ip
			, comp_addr4
		FROM EMI_COMP_INFO	
			
		<include refid="base_where_list" />
		
		<include refid="order_by_list" />	
			
		<include refid="query_limit" />
		
	</select>
	
	<select id="selectOne" resultType="compInfo" parameterType="compInfo">	
		SELECT 
			comp_seq
			, comp_name
			, corp_reg_num
			, comp_reg_num
			, comp_stat
			, DATE_FORMAT(reg_dt,'${prop.dt}') AS reg_dt 
			, comp_manage
			, comp_type
			, comp_sector
			, comp_cat
			, comp_zcode
			, comp_addr1
			, comp_addr2
			, comp_addr3
			, comp_phone
			, comp_email
			, comp_fax
			, comp_id
			, reg_id
			, reg_ip
			, comp_addr4
		FROM EMI_COMP_INFO 				
		WHERE object_id = #{object_id}
	</select>
	
	<insert id="insert" parameterType="compInfo">     	
		INSERT INTO EMI_COMP_INFO (
			comp_name
			, corp_reg_num
			, comp_reg_num
			, comp_stat
			, reg_dt 
			, comp_manage
			, comp_type
			, comp_sector
			, comp_cat
			, comp_zcode
			, comp_addr1
			, comp_addr2
			, comp_addr3
			, comp_phone
			, comp_email
			, comp_fax
			, comp_id
			, reg_id
			, reg_ip
			, comp_addr4
		) VALUES (
			#{comp_name}
			, #{corp_reg_num}
			, #{comp_reg_num}
			, #{comp_stat}
			, now()
			, #{comp_manage}
			, #{comp_type}
			, #{comp_sector}
			, #{comp_cat}
			, #{comp_zcode}
			, #{comp_addr1}
			, #{comp_addr2}
			, #{comp_addr3}
			, #{comp_phone}
			, #{comp_email}
			, #{comp_fax}
			, #{comp_id}
			, #{reg_id}
			, INET_ATON(#{reg_ip})
			, #{comp_addr4}
		)
    </insert>
    
    <update id="update" parameterType="compInfo">
		UPDATE EMI_COMP_INFO SET
			object_nm = #{object_nm}
			, instances = #{instances}
			, mandatory = #{mandatory}
			, object_urn = #{object_urn}
			, descr = #{descr}			
			, update_id = #{update_id}
			, update_dt = now()
		WHERE object_id = #{object_id}
	</update>
	
	<select id="getCompInfoByUser" resultType="CompInfo" parameterType="int">	
		SELECT
			a.comp_seq
			, a.comp_name
			, a.corp_reg_num
			, a.comp_reg_num
			, a.comp_stat
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt 
			, a.comp_manage
			, a.comp_type
			, a.comp_sector
			, a.comp_cat
			, a.comp_zcode
			, a.comp_addr1
			, a.comp_addr2
			, a.comp_addr3
			, a.comp_phone
			, a.comp_email
			, a.comp_fax
			, a.comp_id
			, a.reg_id
			, INET_NTOA(a.reg_ip) as reg_ip	  
			, a.comp_addr4
		FROM EMI_COMP_INFO a 
		INNER JOIN EMI_USER_INFO b ON (a.comp_seq = b.comp_seq)
		WHERE b.user_seq = #{user_seq}
	</select>
	
</mapper>