<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="com.nuri.kepco.model.dao.DeviceFwHistoryDAO">

	<sql id="base_where_list">
		<where>
		<if test="device_serial != null" >     
			AND d.device_serial like concat('%', #{device_serial},'%')
        </if>
		<if test="fw_file_nm != null" >
			AND b.fw_file_nm like concat('%', #{fw_file_nm},'%')
        </if>
		<if test="fw_version != null" >
			AND b.fw_version like concat('%', #{fw_version},'%')     
        </if>
		<if test="device_id != null" >     
            AND a.device_id = #{device_id}
        </if>
        <if test="fw_issue_status != null" >     
            AND a.fw_issue_status = #{fw_issue_status}
        </if>
        <if test="tid != null" >     
            AND a.tid = #{tid}
        </if>
        
		<if test="searchfield != null and searchquery != null " >
			AND ${searchfield} like concat(#{searchquery},'%')
		</if>
		<if test="sdate != null and edate != null">
			AND a.reg_dt between date_format(concat(#{sdate},'000000'), '%Y-%m-%d %H:%i:%s') AND date_format(concat(#{edate},'235959'), '%Y-%m-%d %H:%i:%s')
		</if>

		<if test="usdate != null and uedate != null">
			AND a.fw_success_dt between date_format(concat(#{usdate},'000000'), '%Y-%m-%d %H:%i:%s') AND date_format(concat(#{uedate},'235959'), '%Y-%m-%d %H:%i:%s')
		</if>
		</where>
	</sql>
	
	<sql id="order_by_list">	
		<foreach collection="orderByList" item="orderby" open="order by" index="index" separator=",">
            ${orderby.sort} ${orderby.dir}            
        </foreach>
	</sql>
	
	<sql id="query_limit">	
		<if test="limit > 0 " >
			LIMIT #{start}, #{limit}
		</if>
	</sql>
	
	<select id="selectCount" resultType="java.lang.Integer" parameterType="deviceFwHistory">	
		SELECT COUNT(*) co
		FROM EMI_DEVICE_FW_HISTORY a
		INNER JOIN EMI_DEVICE_FW b ON (a.fw_id = b.fw_id)
		INNER JOIN EMI_DEVICE_INFO d ON (a.device_id = d.device_id)	
		<include refid="base_where_list" /> 
	</select>

	<select id="selectList" resultType="deviceFwHistory" parameterType="deviceFwHistory">	
		SELECT 
			a.fw_history_seq
			, a.device_id
			, d.device_serial
			, d.fw_version as device_fw_version
			, a.fw_id
			, b.fw_version
			, b.fw_nm
			, b.fw_file_nm						
			, DATE_FORMAT(a.fw_write_dt,'${prop.dt}') as fw_write_dt
			, DATE_FORMAT(a.fw_success_dt,'${prop.dt}') as fw_success_dt
			, a.fw_issue_status
			, FNC_GET_CODE_NM(a.fw_issue_status) as fw_issue_status_nm
			, a.tid			
			, DATE_FORMAT(a.result_dt,'${prop.dt}') as result_dt
			, a.reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
		FROM EMI_DEVICE_FW_HISTORY a
		INNER JOIN EMI_DEVICE_FW b ON (a.fw_id = b.fw_id)
		INNER JOIN EMI_DEVICE_INFO d ON (a.device_id = d.device_id)	
		<include refid="base_where_list" />
		
		<include refid="order_by_list" />	
			
		<include refid="query_limit" />
		
	</select>
	
	<select id="selectOne" resultType="deviceFwHistory" parameterType="deviceFwHistory">	
		SELECT 
			a.fw_history_seq
			, a.device_id
			, d.device_serial
			, d.fw_version as device_fw_version
			, a.fw_id
			, b.fw_version
			, b.fw_nm
			, b.fw_file_nm						
			, DATE_FORMAT(a.fw_write_dt,'${prop.dt}')
			, DATE_FORMAT(a.fw_success_dt,'${prop.dt}') 
			, a.fw_issue_status
			, FNC_GET_CODE_NM(a.fw_issue_status) as fw_issue_status_nm
			, a.tid			
			, DATE_FORMAT(a.result_dt,'${prop.dt}')
			, a.reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
		FROM EMI_DEVICE_FW_HISTORY a
		INNER JOIN EMI_DEVICE_FW b ON (a.fw_id = b.fw_id)
		INNER JOIN EMI_DEVICE_INFO d ON (a.device_id = d.device_id)						
		WHERE a.fw_history_seq = #{fw_history_seq}
	</select>
	
	<select id="selectByTid" resultType="deviceFwHistory" parameterType="java.lang.String">	
		SELECT 
			a.fw_history_seq
			, a.device_id
			, d.device_serial
			, d.fw_version as device_fw_version
			, a.fw_id
			, b.fw_version
			, b.fw_nm
			, b.fw_file_nm						
			, DATE_FORMAT(a.fw_write_dt,'${prop.dt}')
			, DATE_FORMAT(a.fw_success_dt,'${prop.dt}') 
			, a.fw_issue_status
			, FNC_GET_CODE_NM(a.fw_issue_status) as fw_issue_status_nm
			, a.tid			
			, DATE_FORMAT(a.result_dt,'${prop.dt}')
			, a.reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
		FROM EMI_DEVICE_FW_HISTORY a
		INNER JOIN EMI_DEVICE_FW b ON (a.fw_id = b.fw_id)
		INNER JOIN EMI_DEVICE_INFO d ON (a.device_id = d.device_id)						
		WHERE a.tid = #{tid}
	</select>
	
	<insert id="insert" parameterType="deviceFwHistory">     	
		INSERT INTO EMI_DEVICE_FW_HISTORY (		
			device_id
			, fw_id
			, fw_write_dt
			, fw_success_dt
			, fw_issue_status
			, tid
			, result_dt
			, reg_id
			, reg_dt
		) VALUES (
			#{device_id}
			, #{fw_id}
			, #{fw_write_dt}
			, #{fw_success_dt}
			, #{fw_issue_status}
			, #{tid}
			, #{result_dt}
			, #{reg_id}
			, now()
		)
    </insert>
    
    <update id="update" parameterType="deviceFwHistory">
		UPDATE EMI_DEVICE_FW_HISTORY SET			
			device_id = #{device_id}
			, fw_id = #{fw_id}
			, fw_write_dt = #{fw_write_dt}
			, fw_success_dt = #{fw_success_dt}
			, fw_issue_status = #{fw_issue_status}
			, tid = #{tid}
			, result_dt = #{result_dt}
			, reg_id = #{reg_id}
		WHERE fw_history_seq = #{fw_history_seq}
	</update>
</mapper>