<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : kepco-model
* @FileName : DeviceAttrMapper.xml
* @Author : kh.yoon
* @Date : 2020-02-03
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="com.nuri.kepco.model.dao.DeviceAttrDAO">

	<sql id="base_where_list">
		<where>
		<if test="attr_policy_seq != null" >     
            AND a.attr_policy_seq = #{attr_policy_seq}
        </if>       
		<if test="searchfield != null and searchquery != null " >
			AND ${searchfield} like concat(#{searchquery},'%')
		</if>
		</where>
	</sql>
	
	<sql id="order_by_list">	
		<foreach collection="orderByList" item="orderby" open="order by" index="index" separator=",">
            ${orderby.sort} ${orderby.dir}            
        </foreach>
	</sql>
	
	<sql id="query_limit">	
		<if test="limit > 0 " >
			LIMIT #{start}, #{limit}
		</if>
	</sql>
	
	<select id="selectCount" resultType="java.lang.Integer" parameterType="deviceAttr">	
		SELECT COUNT(*) co
		FROM EMI_DEVICE_ATTR a		
		<include refid="base_where_list" /> 
	</select>

	<select id="selectList" resultType="deviceAttr" parameterType="deviceAttr">	
		SELECT 
			attr_policy_seq
			, device_id
			, object_id
			, object_instance_id
			, resource_id
			, pmin
			, pmax
			, step
			, snot
			, hrep
			, hmax
			, hrst
			, ntype
			, reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
			, update_id
			, DATE_FORMAT(a.update_dt,'${prop.dt}') AS update_dt
		FROM EMI_DEVICE_ATTR a	
			
		<include refid="base_where_list" />
		
		<include refid="order_by_list" />	
			
		<include refid="query_limit" />
		
	</select>
	
	<select id="selectOne" resultType="deviceAttr" parameterType="deviceAttr">	
		SELECT 
			attr_policy_seq
			, device_id
			, object_id
			, object_instance_id
			, resource_id
			, pmin
			, pmax
			, step
			, snot
			, hrep
			, hmax
			, hrst
			, ntype
			, reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
			, update_id
			, DATE_FORMAT(a.update_dt,'${prop.dt}') AS update_dt
		FROM EMI_DEVICE_ATTR a				
		WHERE attr_policy_seq = #{attr_policy_seq}
	</select>
	
	<insert id="insert" parameterType="deviceAttr">     	
		INSERT INTO EMI_DEVICE_ATTR (			
			device_id
			, object_id
			, object_instance_id
			, resource_id
			, pmin
			, pmax
			, step
			, snot
			, hrep
			, hmax
			, hrst
			, ntype
			, reg_id
			, reg_dt
			, update_id
			, update_dt
		) VALUES (			  
			#{device_id}
			, #{object_id}
			, #{object_instance_id}
			, #{resource_id}
			, #{pmin}
			, #{pmax}
			, #{step}
			, #{snot}
			, #{hrep}
			, #{hmax}
			, #{hrst}
			, #{ntype}
			, #{reg_id}
			, now()
			, #{update_id}
			, now()
		)
    </insert>
    
    <update id="update" parameterType="deviceAttr">
		UPDATE EMI_DEVICE_ATTR SET			
		device_id = #{device_id}
		, object_id = #{object_id}
		, object_instance_id = #{object_instance_id}
		, resource_id = #{resource_id}
		, pmin = #{pmin}
		, pmax = #{pmax}
		, step = #{step}
		, snot = #{snot}
		, hrep = #{hrep}
		, hmax = #{hmax}
		, hrst = #{hrst}
		, ntype = #{ntype}		
		, update_id = #{update_id}
		, update_dt = now()
		WHERE attr_policy_seq = #{attr_policy_seq}
	</update>
	
</mapper>