<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : kepco-model
* @FileName : DeviceInfoMapper.xml
* @Author : kh.yoon
* @Date : 2020-02-03
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="com.nuri.kepco.model.dao.DeviceInfoDAO">

	<sql id="base_where_list">
		<where>
		<if test="device_id != null and device_id != ''" >     
            AND a.device_id = #{device_id}
        </if>
		<if test="service_id != null and service_id != ''" >     
            AND a.service_id = #{service_id}
        </if>
		<if test="branch_parent_id != null and branch_parent_id != ''" >     
            AND d.branch_parent_id = #{branch_parent_id}
        </if>
        <if test="branch_id != null and branch_id != ''" >     
            AND a.branch_id = #{branch_id}
        </if>
        <if test="fw_version != null and fw_version != ''" >     
            AND a.fw_version = #{fw_version}
        </if>
        <if test="model_seq != null and model_seq != ''" >     
            AND a.model_seq = #{model_seq}
        </if>
        <if test="device_oid != null and device_oid != ''" >     
            AND a.device_oid = #{device_oid}
        </if>
        <if test="comm_type != null and comm_type != ''" >     
            AND a.comm_type = #{comm_type}
        </if>
        <if test="allow_yn != null and allow_yn != ''" >     
            AND a.allow_yn = #{allow_yn}
        </if>
        <if test="mobile_no != null and mobile_no != ''" >     
            AND a.mobile_no = #{mobile_no}
        </if>
		<if test="searchfield != null and searchquery != null  and searchfield != '' and searchquery != ''" >
			AND a.${searchfield} like concat(#{searchquery},'%')
		</if>
		<!-- DeviceInfoList -->		
		<if test="device_status != null and device_status != ''" >     
            AND c.device_status = #{device_status}
        </if>
		<if test="sdate != null and edate != null and sdate != '' and edate != ''">
			AND a.reg_dt between date_format(concat(#{sdate},'000000'), '%Y-%m-%d %H:%i:%s') AND date_format(concat(#{edate},'235959'), '%Y-%m-%d %H:%i:%s')
		</if>
		<if test="lsdate != null and ledate != null and lsdate != '' and ledate != ''">
			AND c.last_comm_dt between date_format(concat(#{lsdate},'000000'), '%Y-%m-%d %H:%i:%s') AND date_format(concat(#{ledate},'235959'), '%Y-%m-%d %H:%i:%s')
		</if>
		
		</where>
	</sql>
	
	<sql id="order_by_list">	
		<foreach collection="orderByList" item="orderby" open="order by" index="index" separator=",">
            ${orderby.sort} ${orderby.dir}            
        </foreach>
	</sql>
	
	<sql id="query_limit">	
		<if test="limit > 0 " >
			LIMIT #{start}, #{limit}
		</if>
	</sql>
	
	<select id="selectCount" resultType="java.lang.Integer" parameterType="deviceInfo">	
		SELECT COUNT(*) co
		FROM EMI_DEVICE_INFO a		
		<include refid="base_where_list" /> 
	</select>

	<select id="selectList" resultType="deviceInfo" parameterType="deviceInfo">	
		SELECT 
			a.device_id
			, a.device_serial
			, a.service_id
			, a.branch_id			
			, a.model_seq
			, a.device_oid
			, a.mobile_no
			, a.comm_type
			, FNC_GET_CODE_NM(a.comm_type) as comm_type_nm
			, a.device_type
			, FNC_GET_CODE_NM(a.device_type) as device_type_nm
			, INET_NTOA(ip) as ip
			, a.port
			, a.fw_version
			, a.hw_version
			, a.sw_version1
			, a.sw_version2
			, a.allow_yn			
			, DATE_FORMAT(a.init_reg_dt,'${prop.dt}') AS init_reg_dt
			, a.remark
			, a.reg_id
			, a.mobile_no
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt			
			, DATE_FORMAT(a.dest_dt,'${prop.dt}') AS dest_dt
			, DATE_FORMAT(b.last_comm_dt,'${prop.dt}') AS last_comm_dt
			, b.device_status
			, FNC_GET_CODE_NM(b.device_status) as device_status_nm
		FROM EMI_DEVICE_INFO a	
		LEFT OUTER JOIN EMI_DEVICE_STATUS b ON (a.device_id = b.device_id)
		<include refid="base_where_list" />
		
		<include refid="order_by_list" />	
			
		<include refid="query_limit" />
		
	</select>
	
	<select id="selectOne" resultType="deviceInfo" parameterType="deviceInfo">	
		SELECT 
			a.device_id
			, a.device_serial
			, a.service_id
			, a.branch_id			
			, a.model_seq
			, a.device_oid
			, a.mobile_no
			, a.comm_type
			, FNC_GET_CODE_NM(a.comm_type) as comm_type_nm
			, a.device_type
			, FNC_GET_CODE_NM(a.device_type) as device_type_nm
			, INET_NTOA(ip) as ip
			, a.port
			, a.fw_version
			, a.hw_version
			, a.sw_version1
			, a.sw_version2
			, a.allow_yn			
			, DATE_FORMAT(a.init_reg_dt,'${prop.dt}') AS init_reg_dt
			, a.remark
			, a.reg_id
			, a.mobile_no
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt			
			, DATE_FORMAT(a.dest_dt,'${prop.dt}') AS dest_dt
			, DATE_FORMAT(b.last_comm_dt,'${prop.dt}') AS last_comm_dt
			, b.device_status			
		FROM EMI_DEVICE_INFO a	
		LEFT OUTER JOIN EMI_DEVICE_STATUS b ON (a.device_id = b.device_id)
		WHERE a.device_id = #{device_id}
	</select>
	
	<select id="selectByDeviceSerial" resultType="deviceInfo" parameterType="java.lang.String">	
		SELECT 
			a.device_id
			, a.device_serial
			, a.service_id
			, a.branch_id
			, c.branch_nm
			, c.branch_parent_id
			, (SELECT branch_nm FROM emi_branch_info WHERE branch_id = c.branch_parent_id) AS parent_branch_nm
			, a.model_seq
			, a.device_oid
			, a.mobile_no
			, a.comm_type
			, FNC_GET_CODE_NM(a.comm_type) AS comm_type_nm
			, a.device_type
			, FNC_GET_CODE_NM(a.device_type) AS device_type_nm
			, INET_NTOA(ip) AS ip
			, a.port
			, a.fw_version
			, a.hw_version
			, a.sw_version1
			, a.sw_version2
			, a.allow_yn	
			, a.mobile_no		
			, DATE_FORMAT(a.init_reg_dt,'${prop.dt}') AS init_reg_dt
			, a.remark
			, a.reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt			
			, DATE_FORMAT(a.dest_dt,'${prop.dt}') AS dest_dt
			, DATE_FORMAT(b.last_comm_dt,'${prop.dt}') AS last_comm_dt
			, b.device_status
			, FNC_GET_CODE_NM(b.device_status) AS device_status_nm
			, FNC_GET_CODE_LOCAL_NM(b.device_status) AS device_status_local_nm
		FROM EMI_DEVICE_INFO a	
		LEFT OUTER JOIN EMI_DEVICE_STATUS b ON (a.device_id = b.device_id)
		LEFT OUTER JOIN EMI_BRANCH_INFO c ON (a.branch_id = c.branch_id)
		WHERE a.device_serial = #{device_serial}		
	</select>
	
	<insert id="insert" parameterType="deviceInfo">
		<selectKey keyProperty="device_id" resultType="String" order="BEFORE">
			SELECT CONCAT('GW', SUBSTR(IFNULL(SUBSTR(MAX(device_id),3),0) + 100000001,2)) AS device_id
			FROM EMI_DEVICE_INFO				
		</selectKey>	
		     	
		INSERT INTO EMI_DEVICE_INFO (
			  device_id
			, device_serial
			, service_id
			, branch_id
			, model_seq
			, device_oid
			, comm_type
			, device_type
			, ip
			, port
			, fw_version
			, hw_version
			, sw_version1
			, sw_version2
			, mobile_no
			, allow_yn			
			, remark
			, reg_id
			, reg_dt			
		) VALUES (
			  #{device_id}
			, #{device_serial}
			, #{service_id}
			, #{branch_id}
			, #{model_seq}
			, #{device_oid}
			, #{comm_type}
			, #{device_type}
			, INET_ATON(#{ip})
			, #{port}
			, #{fw_version}
			, #{hw_version}
			, #{sw_version1}
			, #{sw_version2}
			, #{mobile_no}
			, #{allow_yn}			
			, #{remark}
			, #{reg_id}
			, now()			
		)
    </insert>
    
    <update id="update" parameterType="deviceInfo">
		UPDATE EMI_DEVICE_INFO SET
			device_serial = #{device_serial}
			<if test="service_id != null" > , service_id = #{service_id}</if>
			<if test="branch_id != null" > , branch_id = #{branch_id}</if>
			<if test="model_seq != null" > , model_seq = #{model_seq}</if>
			<if test="device_oid != null" > , device_oid = #{device_oid}</if>
			<if test="comm_type != null" > , comm_type = #{comm_type}</if>
			<if test="device_type != null" > , device_type = #{device_type}</if>
			<if test="ip != null" > , ip = INET_ATON(#{ip})</if>
			<if test="port != null" > , port = #{port}</if>
			<if test="fw_version != null" > , fw_version = #{fw_version}</if>
			<if test="hw_version != null" > , hw_version = #{hw_version}</if>
			<if test="sw_version1 != null" > , sw_version1 = #{sw_version1}</if>
			<if test="sw_version2 != null" > , sw_version2 = #{sw_version2}</if>
			<if test="allow_yn != null" > , allow_yn = #{allow_yn}</if>			
			<if test="remark != null" > , remark = #{remark}</if>	
			<if test="mobile_no != null" > , mobile_no = #{mobile_no}</if>	
		WHERE device_id = #{device_id}
	</update>
	
	<select id="getDeviceList" resultType="deviceInfo" parameterType="deviceInfo">	
		SELECT
			a.device_id
			, a.device_serial
			, (SELECT branch_nm FROM emi_branch_info WHERE branch_id = d.branch_parent_id) AS parent_branch_nm
			, d.branch_nm
			, b.model_nm
			, e.vendor_nm
			, f.code_local_nm
			, DATE_FORMAT(c.last_comm_dt,'${prop.dt}') AS last_comm_dt 
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt 
			, a.mobile_no
			, a.fw_version
		FROM
			EMI_DEVICE_INFO a
			LEFT OUTER JOIN EMI_DEVICE_MODEL b ON a.model_seq = b.model_seq
			LEFT OUTER JOIN EMI_DEVICE_STATUS c ON a.device_id = c.device_id
			LEFT OUTER JOIN EMI_BRANCH_INFO d ON a.branch_id = d.branch_id
			LEFT OUTER JOIN EMI_VENDOR_INFO e ON b.vendor_seq = e.vendor_seq
			LEFT OUTER JOIN EMI_ALL_CODE f ON c.device_status = f.code
			
		<include refid="base_where_list" />	
		
		<include refid="order_by_list" />	
		
		<include refid="query_limit" />
		
	</select>

	<select id="getDeviceListCnt" resultType="int" parameterType="deviceInfo">		
		SELECT
			 COUNT(*) co
		FROM
			EMI_DEVICE_INFO a
			LEFT OUTER JOIN EMI_DEVICE_MODEL b ON a.model_seq = b.model_seq
			LEFT OUTER JOIN EMI_DEVICE_STATUS c ON a.device_id = c.device_id
			LEFT OUTER JOIN EMI_BRANCH_INFO d ON a.branch_id = d.branch_id
			LEFT OUTER JOIN EMI_VENDOR_INFO e ON b.vendor_seq = e.vendor_seq
			LEFT OUTER JOIN EMI_ALL_CODE f ON c.device_status = f.code

		<include refid="base_where_list" />	
	</select>
	
	<select id="getDeviceInfo" resultType="deviceInfo" parameterType="java.lang.String">	
		SELECT
			a.device_id
			, (SELECT branch_nm FROM emi_branch_info WHERE branch_id = d.branch_parent_id) AS parent_branch_nm
			, d.branch_nm
			, a.service_id
			, a.device_serial
			, e.vendor_nm
			, a.device_oid
			, a.mobile_no
			, INET_NTOA(a.ip) as ip
			, a.port
			, a.fw_version
			, a.hw_version
			, a.sw_version1
			, a.sw_version2
			, b.model_nm
			, g.security_mode
			, f.code_local_nm
			, a.remark
			, a.mobile_no
			, DATE_FORMAT(c.last_comm_dt,'${prop.dt}') AS last_comm_dt 
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt 
		FROM
			EMI_DEVICE_INFO a
			LEFT OUTER JOIN EMI_DEVICE_MODEL b ON a.model_seq = b.model_seq
			LEFT OUTER JOIN EMI_DEVICE_STATUS c ON a.device_id = c.device_id
			LEFT OUTER JOIN EMI_BRANCH_INFO d ON a.branch_id = d.branch_id
			LEFT OUTER JOIN EMI_VENDOR_INFO e ON b.vendor_seq = e.vendor_seq
			LEFT OUTER JOIN EMI_ALL_CODE f ON c.device_status = f.code
			LEFT OUTER JOIN EMI_DEVICE_SECURITY g ON a.device_id = g.device_id
		WHERE 
			a.device_id = #{device_id}
	</select>

	<select id="getCommunication" resultType="deviceInfo">
		<![CDATA[
		SELECT 
			(SELECT COUNT(*)
				FROM emi_device_info a
				WHERE a.ALLOW_YN = 1) AS total, 
			(SELECT COUNT(*)
				FROM emi_device_info a
				LEFT OUTER JOIN emi_device_status b ON a.DEVICE_ID = b.DEVICE_ID
				WHERE b.LAST_COMM_DT BETWEEN DATE_FORMAT(now(), '%Y-%m-%d 00:00:00') AND DATE_FORMAT(now(), '%Y-%m-%d 23:59:59')
				AND a.ALLOW_YN = 1) AS d1, 
			(SELECT COUNT(*)
				FROM emi_device_info a
				LEFT OUTER JOIN emi_device_status b ON a.DEVICE_ID = b.DEVICE_ID
				WHERE b.LAST_COMM_DT BETWEEN DATE_SUB(DATE_FORMAT(now(), '%Y-%m-%d 00:00:00'), INTERVAL 1 DAY) AND DATE_SUB(DATE_FORMAT(now(), '%Y-%m-%d 23:59:59'), INTERVAL 1 DAY)
				AND a.ALLOW_YN = 1) AS d2,
			(SELECT COUNT(*)
				FROM emi_device_info a
				LEFT OUTER JOIN emi_device_status b ON a.DEVICE_ID = b.DEVICE_ID
				WHERE b.LAST_COMM_DT  < DATE_SUB(DATE_FORMAT(now(), '%Y-%m-%d 23:59:59'), INTERVAL 1 DAY)
				AND a.ALLOW_YN = 1) AS d3,
			(SELECT COUNT(*)
				FROM emi_device_info a
				LEFT OUTER JOIN emi_device_status b ON a.DEVICE_ID = b.DEVICE_ID
				WHERE b.LAST_COMM_DT IS NULL
				AND a.ALLOW_YN = 1) AS d4
		FROM DUAL
		]]>
	</select>
	
</mapper>
