<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="com.nuri.kepco.model.dao.DeviceFwHistoryDAO">

	<sql id="base_where_list">
		<where>
		<if test="fw_history_seq != null" >     
            AND a.fw_history_seq = #{fw_history_seq}
        </if>
		<if test="device_id != null" >     
            AND a.device_id = #{device_id}
        </if>
        <if test="fw_issue_status != null" >     
            AND a.fw_issue_status = #{fw_issue_status}
        </if>
        <if test="tid != null" >     
            AND a.tid = #{tid}
        </if>
        
		<if test="searchfield != null and searchquery != null " >
			AND ${searchfield} like concat(#{searchquery},'%')
		</if>
		<if test="sdate != null and edate != null">
			AND a.reg_dt between date_format(concat(#{sdate},'000000'), '%Y-%m-%d %H:%i:%s') AND date_format(concat(#{edate},'235959'), '%Y-%m-%d %H:%i:%s')
		</if>
		</where>
	</sql>
	
	<sql id="order_by_list">	
		<foreach collection="orderByList" item="orderby" open="order by" index="index" separator=",">
            ${orderby.sort} ${orderby.dir}            
        </foreach>
	</sql>
	
	<sql id="query_limit">	
		<if test="limit > 0 " >
			LIMIT #{start}, #{limit}
		</if>
	</sql>
	
	<select id="selectCount" resultType="java.lang.Integer" parameterType="deviceFwHistory">	
		SELECT COUNT(*) co
		FROM EMI_DEVICE_FW_HISTORY a		
		<include refid="base_where_list" /> 
	</select>

	<select id="selectList" resultType="deviceFwHistory" parameterType="deviceFwHistory">	
		SELECT 
			fw_history_seq
			, device_id
			, fw_id
			, fw_write_dt
			, fw_execute_dt
			, fw_issue_status
			, tid
			, reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
		FROM EMI_DEVICE_FW_HISTORY a	
			
		<include refid="base_where_list" />
		
		<include refid="order_by_list" />	
			
		<include refid="query_limit" />
		
	</select>
	
	<select id="selectOne" resultType="deviceFwHistory" parameterType="deviceFwHistory">	
		SELECT 
			fw_history_seq
			, device_id
			, fw_id
			, fw_write_dt
			, fw_execute_dt
			, fw_issue_status
			, tid
			, reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
		FROM EMI_DEVICE_FW_HISTORY a				
		WHERE fw_history_seq = #{fw_history_seq}
	</select>
	
	<insert id="insert" parameterType="deviceFwHistory">     	
		INSERT INTO EMI_DEVICE_FW_HISTORY (			
			fw_history_seq
			, device_id
			, fw_id
			, fw_write_dt
			, fw_execute_dt
			, fw_issue_status
			, tid
			, reg_id
			, reg_dt
		) VALUES (			  
			#{fw_history_seq}
			, #{device_id}
			, #{fw_id}
			, #{fw_write_dt}
			, #{fw_execute_dt}
			, #{fw_issue_status}
			, #{tid}
			, #{reg_id}
			, now()
		)
    </insert>
    
    <update id="update" parameterType="deviceFwHistory">
		UPDATE EMI_DEVICE_FW_HISTORY SET			
			device_id = #{attr_policy_seq}
			, fw_id = #{attr_policy_seq}
			, fw_write_dt = #{attr_policy_seq}
			, fw_execute_dt = #{attr_policy_seq}
			, fw_issue_status = #{attr_policy_seq}
			, tid = #{attr_policy_seq}
		WHERE fw_history_seq = #{fw_history_seq}
	</update>
	
</mapper>