<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : kepco-model
* @FileName : DeviceModelMapper.xml
* @Author : kh.yoon
* @Date : 2020-02-03
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="com.nuri.kepco.model.dao.DeviceModelDAO">

	<sql id="base_where_list">
		<where>
		<if test="model_seq != null" >     
            AND a.model_seq = #{model_seq}
        </if>
        <if test="vendor_seq != null" >     
            AND a.vendor_seq = #{vendor_seq}
        </if>
        <if test="model_nm != null" >     
            AND a.model_nm = #{model_nm}
        </if>
		<if test="searchfield != null and searchquery != null " >
			AND ${searchfield} like concat(#{searchquery},'%')
		</if>
		</where>
	</sql>
	
	<sql id="order_by_list">	
		<foreach collection="orderByList" item="orderby" open="order by" index="index" separator=",">
            ${orderby.sort} ${orderby.dir}            
        </foreach>
	</sql>
	
	<sql id="query_limit">	
		<if test="limit > 0 " >
			LIMIT #{start}, #{limit}
		</if>
	</sql>
	
	<select id="selectCount" resultType="java.lang.Integer" parameterType="deviceModel">	
		SELECT COUNT(*) co
		FROM EMI_DEVICE_MODEL a		
		<include refid="base_where_list" /> 
	</select>

	<select id="selectList" resultType="deviceModel" parameterType="deviceModel">	
		SELECT 
			model_seq
			, model_nm
			, vendor_seq
			, reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
			, update_id
			, DATE_FORMAT(a.update_dt,'${prop.dt}') AS update_dt
		FROM EMI_DEVICE_MODEL a	
			
		<include refid="base_where_list" />
		
		<include refid="order_by_list" />	
			
		<include refid="query_limit" />
		
	</select>
	
	<select id="selectOne" resultType="deviceModel" parameterType="deviceModel">	
		SELECT 
			model_seq
			, model_nm
			, vendor_seq
			, reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
			, update_id
			, DATE_FORMAT(a.update_dt,'${prop.dt}') AS update_dt
		FROM EMI_DEVICE_MODEL a				
		WHERE model_seq = #{model_seq}
	</select>
	
	<select id="selectModelByName" resultType="deviceModel" parameterType="java.lang.String">	
		SELECT 
			model_seq
			, model_nm
			, vendor_seq
			, reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
			, update_id
			, DATE_FORMAT(a.update_dt,'${prop.dt}') AS update_dt
		FROM EMI_DEVICE_MODEL a				
		WHERE model_nm = #{model_nm}
	</select>
	
	<insert id="insert" parameterType="deviceModel">     	
		INSERT INTO EMI_DEVICE_MODEL (			
			model_nm
			, vendor_seq
			, reg_id
			, reg_dt
			, update_id
			, update_dt
		) VALUES (			  
			#{model_nm}
			, #{vendor_seq}
			, #{reg_id}
			, now()
			, #{update_id}
			, now()
		)
    </insert>
    
    <update id="update" parameterType="deviceModel">
		UPDATE EMI_DEVICE_MODEL SET
			model_nm = #{model_nm}
			, vendor_seq = #{model_nm}						
			, update_dt = now()
		WHERE model_seq = #{model_seq}
	</update>
	
</mapper>