<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : kepco-model
* @FileName : DeviceResourceMapper.xml
* @Author : kh.yoon
* @Date : 2020-02-03
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="com.nuri.kepco.model.dao.DeviceResourceDAO">

	<sql id="base_where_list">
		<where>
		<if test="device_id != null" >     
            AND a.device_id = #{device_id}
        </if>
        <if test="resource_path != null" >     
            AND a.resource_path = #{resource_path}
        </if>
        <if test="object_id != null" >     
            AND a.object_id = #{object_id}
        </if>
        <if test="object_instance_id != null" >     
            AND a.object_instance_id = #{object_instance_id}
        </if>
        <if test="resource_id != null" >     
            AND a.resource_id = #{resource_id}
        </if>
        <if test="resource_instance_id != null" >     
            AND a.resource_instance_id = #{resource_instance_id}
        </if>
		<if test="searchfield != null and searchquery != null " >
			AND ${searchfield} like concat(#{searchquery},'%')
		</if>
		</where>
	</sql>
	
	<sql id="order_by_list">	
		<foreach collection="orderByList" item="orderby" open="order by" index="index" separator=",">
            ${orderby.sort} ${orderby.dir}            
        </foreach>
	</sql>
	
	<sql id="query_limit">	
		<if test="limit > 0 " >
			LIMIT #{start}, #{limit}
		</if>
	</sql>
	
	<select id="selectCount" resultType="java.lang.Integer" parameterType="deviceResource">	
		SELECT COUNT(*) co
		FROM EMI_DEVICE_RESOURCE a		
		<include refid="base_where_list" /> 
	</select>

	<select id="selectList" resultType="deviceResource" parameterType="deviceResource">	
		SELECT 
			device_id
			, resource_path
			, object_id
			, object_instance_id
			, resource_id
			, resource_instance_id
			, resource_val
			, reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
			, update_id
			, DATE_FORMAT(a.update_dt,'${prop.dt}') AS update_dt
		FROM EMI_DEVICE_RESOURCE a	
			
		<include refid="base_where_list" />
		
		<include refid="order_by_list" />	
			
		<include refid="query_limit" />
		
	</select>
	
	<select id="selectOne" resultType="deviceResource" parameterType="deviceResource">	
		SELECT 
			device_id
			, resource_path
			, object_id
			, object_instance_id
			, resource_id
			, resource_instance_id
			, resource_val
			, reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
			, update_id
			, DATE_FORMAT(a.update_dt,'${prop.dt}') AS update_dt
		FROM EMI_DEVICE_RESOURCE a				
		WHERE device_id = #{device_id} AND resource_seq = #{resource_seq}
	</select>
	
	<insert id="insert" parameterType="deviceResource">     	
		INSERT INTO EMI_DEVICE_RESOURCE (
			device_id
			, resource_path
			, object_id
			, object_instance_id
			, resource_id
			, resource_instance_id
			, resource_val
			, reg_id
			, reg_dt
			, update_id
			, update_dt
		) VALUES (
			#{device_id}
			, #{resource_path}
			, #{object_id}
			, #{object_instance_id}
			, #{resource_id}
			, #{resource_instance_id}
			, #{resource_val}
			, #{reg_id}
			, now()
			, #{update_id}
			, now()
		)
    </insert>
    
    <insert id="insertAll" parameterType="java.util.List">     	
		INSERT INTO EMI_DEVICE_RESOURCE (
			device_id
			, resource_path
			, object_id
			, object_instance_id
			, resource_id
			, resource_instance_id
			, resource_val
			, reg_id
			, reg_dt
			, update_id
			, update_dt
		) 
		VALUES 
		<foreach collection="list" item="list" index="index" open="(" separator="),("  close=")">
			#{list.device_id}
			, #{list.resource_path}
			, #{list.object_id}
			, #{list.object_instance_id}
			, #{list.resource_id}
			, #{list.resource_instance_id}
			, #{list.resource_val}
			, #{list.reg_id}			
			, now()
			, #{list.update_id}
			, now()
		</foreach>		
		ON DUPLICATE KEY UPDATE resource_val=VALUES(resource_val),update_dt=now();
    </insert>
    
    <delete id="delete" parameterType="deviceResource">
		DELETE FROM 
			EMI_DEVICE_RESOURCE 
		WHERE device_id = #{device_id} and resource_path = #{resource_path}
	</delete>
    
    <update id="update" parameterType="deviceResource">
		UPDATE EMI_DEVICE_RESOURCE SET			
			object_id = #{object_id}
			, object_instance_id = #{object_instance_id}
			, resource_id = #{resource_id}
			, resource_instance_id = #{resource_instance_id}
			, resource_val = #{resource_val}			
			, update_id = #{update_id}
			, update_dt = now()
		WHERE device_id = #{device_id} and resource_path = #{resource_path}
	</update>
	
	<select id="getObjectModelList" resultType="deviceResource" parameterType="deviceResource">  
        SELECT 
        	a.device_id
        	, c.object_nm
        	, a.object_id
        	, a.object_instance_id
        	, c.instances
        	, b.descr
        FROM EMI_DEVICE_RESOURCE a 
        INNER JOIN EMI_RESOURCE_MODEL b ON a.object_id = b.object_id AND a.resource_id = b.resource_id
        INNER JOIN EMI_OBJECT_MODEL c ON a.object_id = c.object_id
        
        <where>
		<if test="device_id != null" >     
            AND a.device_id = #{device_id}
        </if>
        <if test="object_nm != null" >     
            AND c.object_nm = #{object_nm}
        </if>
		</where>
        GROUP BY a.device_id, a.object_id
    </select>
    <select id="getResourceModelList" resultType="deviceResource" parameterType="deviceResource">  
        SELECT 
        	a.device_id
        	, a.object_id
        	, c.object_nm
        	, a.object_instance_id
        	, a.resource_id
        	, b.resource_nm
        	, a.resource_instance_id
        	, b.operation
        	, b.instances
        	, b.mandatory
        	, a.resource_val
        	, b.unit
        FROM EMI_DEVICE_RESOURCE a 
        INNER JOIN EMI_RESOURCE_MODEL b ON ( a.object_id = b.object_id AND a.resource_id = b.resource_id )
        INNER JOIN EMI_OBJECT_MODEL c ON ( a.object_id = c.object_id )

        <where> 
        <if test="device_id != null" >     
          AND a.device_id = #{device_id}
        </if>
        <if test="object_id != null" >     
          AND a.object_id = #{object_id}
        </if>
        </where>       
    </select>

</mapper>
