<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : kepco-model
* @FileName : MeterBillingMapper.xml
* @Author : kh.yoon
* @Date : 2020-02-03
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="com.nuri.kepco.model.dao.MeterBillingDAO">

	<sql id="base_where_list">
		<where>
        <if test="sdate != null and edate != null and sdate != '' and edate != '' " >     
            AND a.billing_dt between #{sdate} AND #{edate}
        </if>
        <if test="meter_type != null and meter_type != ''" >     
            AND  mi.meter_type = #{meter_type}
        </if>
        <if test="device_serial != null and device_serial != ''" >     
            AND device_serial = #{device_serial}
        </if>
        <if test="billing_dt != null and billing_dt != ''" >
            AND a.billing_dt = #{billing_dt}
        </if>
        <if test="meter_serial != null and meter_serial != ''" >     
            AND mi.meter_serial = #{meter_serial}
        </if>
        <if test="branch_id != null and branch_id != ''" >     
            AND b.branch_id = #{branch_id}
        </if>
		<if test="searchfield != null and searchquery != null " >
			AND ${searchfield} like concat(#{searchquery},'%')
		</if>
		</where>
	</sql>
	
	<sql id="order_by_list">	
		<foreach collection="orderByList" item="orderby" open="order by" index="index" separator=",">
            ${orderby.sort} ${orderby.dir}            
        </foreach>
	</sql>
	
	<sql id="query_limit">	
		<if test="limit > 0 " >
			LIMIT #{start}, #{limit}
		</if>
	</sql>
	
	<select id="selectCount" resultType="java.lang.Integer" parameterType="meterBilling">	
		SELECT COUNT(*) co
		FROM EMI_METER_BILLING a	
		INNER JOIN EMI_METER_INFO mi ON (a.METER_ID = mi.METER_ID)
		INNER JOIN EMI_DEVICE_INFO di ON (mi.DEVICE_ID = di.DEVICE_ID)
		INNER JOIN emi_branch_info b ON (b.branch_id = mi.branch_id)
		<include refid="base_where_list" /> 
	</select>

	<select id="selectList" resultType="meterBilling" parameterType="meterBilling">	
		SELECT 
			a. meter_id
			, meter_serial
			, b.branch_nm
			, (SELECT branch_nm FROM emi_branch_info WHERE branch_id = b.branch_parent_id) AS parent_branch_nm
			, meter_serial
			, ifnull(fnc_get_code_nm(mi.meter_type),'') as meter_type
			, device_serial
			, DATE_FORMAT(CONCAT(a.billing_dt,'00'),'${prop.small.dt}') AS billing_dt
			, a.billing_dt AS billing_dt_int
			, active_imp_tot			, apprent_imp_tot			, lead_imp_tot			, lagging_imp_tot			, pf_imp_tot
			, active_imp_rate1			, apprent_imp_rate1			, lead_imp_rate1		, lagging_imp_rate1			, pf_imp_rate1	
			, active_imp_rate2			, apprent_imp_rate2			, lead_imp_rate2		, lagging_imp_rate2			, pf_imp_rate2
			, active_imp_rate3			, apprent_imp_rate3			, lead_imp_rate3		, lagging_imp_rate3			, pf_imp_rate3
			, active_imp_rate4			, apprent_imp_rate4			, lead_imp_rate4		, lagging_imp_rate4			, pf_imp_rate4
			, active_exp_tot			, apprent_exp_tot			, lead_exp_tot			, lagging_exp_tot			, pf_exp_tot
			, active_exp_rate1			, apprent_exp_rate1			, lead_exp_rate1		, lagging_exp_rate1			, pf_exp_rate1
			, active_exp_rate2			, apprent_exp_rate2			, lead_exp_rate2		, lagging_exp_rate2			, pf_exp_rate2
			, active_exp_rate3			, apprent_exp_rate3			, lead_exp_rate3		, lagging_exp_rate3			, pf_exp_rate3
			, active_exp_rate4			, apprent_exp_rate4			, lead_exp_rate4		, lagging_exp_rate4			, pf_exp_rate4
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
			, DATE_FORMAT(a.update_dt,'${prop.dt}') AS update_dt
		FROM EMI_METER_BILLING a	
		INNER JOIN EMI_METER_INFO mi ON (a.METER_ID = mi.METER_ID)
		INNER JOIN EMI_DEVICE_INFO di ON (mi.DEVICE_ID = di.DEVICE_ID)
		INNER JOIN emi_branch_info b ON (b.branch_id = mi.branch_id)
			
		<include refid="base_where_list" />
		
		<include refid="order_by_list" />	
			
		<include refid="query_limit" />
		
	</select>
	
	<select id="selectOne" resultType="meterBilling" parameterType="meterBilling">	
		SELECT 
			meter_id
			, billing_dt
			, mtime
			, itime
			, active_imp_tot
			, apprent_imp_tot
			, lead_imp_tot
			, lagging_imp_tot
			, pf_imp_tot
			, active_imp_rate1
			, apprent_imp_rate1
			, lead_imp_rate1
			, lagging_imp_rate1
			, pf_imp_rate1
			, active_imp_rate2
			, apprent_imp_rate2
			, lead_imp_rate2
			, lagging_imp_rate2
			, pf_imp_rate2
			, active_imp_rate3
			, apprent_imp_rate3
			, lead_imp_rate3
			, lagging_imp_rate3
			, pf_imp_rate3
			, active_imp_rate4
			, apprent_imp_rate4
			, lead_imp_rate4
			, lagging_imp_rate4
			, pf_imp_rate4
			, active_exp_tot
			, apprent_exp_tot
			, lead_exp_tot
			, lagging_exp_tot
			, pf_exp_tot
			, active_exp_rate1
			, apprent_exp_rate1
			, lead_exp_rate1
			, lagging_exp_rate1
			, pf_exp_rate1
			, active_exp_rate2
			, apprent_exp_rate2
			, lead_exp_rate2
			, lagging_exp_rate2
			, pf_exp_rate2
			, active_exp_rate3
			, apprent_exp_rate3
			, lead_exp_rate3
			, lagging_exp_rate3
			, pf_exp_rate3
			, active_exp_rate4
			, apprent_exp_rate4
			, lead_exp_rate4
			, lagging_exp_rate4
			, pf_exp_rate4
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
			, DATE_FORMAT(a.update_dt,'${prop.dt}') AS update_dt
		FROM EMI_METER_BILLING a				
		WHERE meter_id = #{meter_id}
		and billing_dt = #{billing_dt}
	</select>
	
	<insert id="insert" parameterType="meterBilling">     	
		INSERT INTO EMI_METER_BILLING (
			meter_id
			, billing_dt
			, mtime
			, itime
			, active_imp_tot
			, apprent_imp_tot
			, lead_imp_tot
			, lagging_imp_tot
			, pf_imp_tot
			, active_imp_rate1
			, apprent_imp_rate1
			, lead_imp_rate1
			, lagging_imp_rate1
			, pf_imp_rate1
			, active_imp_rate2
			, apprent_imp_rate2
			, lead_imp_rate2
			, lagging_imp_rate2
			, pf_imp_rate2
			, active_imp_rate3
			, apprent_imp_rate3
			, lead_imp_rate3
			, lagging_imp_rate3
			, pf_imp_rate3
			, active_imp_rate4
			, apprent_imp_rate4
			, lead_imp_rate4
			, lagging_imp_rate4
			, pf_imp_rate4
			, active_exp_tot
			, apprent_exp_tot
			, lead_exp_tot
			, lagging_exp_tot
			, pf_exp_tot
			, active_exp_rate1
			, apprent_exp_rate1
			, lead_exp_rate1
			, lagging_exp_rate1
			, pf_exp_rate1
			, active_exp_rate2
			, apprent_exp_rate2
			, lead_exp_rate2
			, lagging_exp_rate2
			, pf_exp_rate2
			, active_exp_rate3
			, apprent_exp_rate3
			, lead_exp_rate3
			, lagging_exp_rate3
			, pf_exp_rate3
			, active_exp_rate4
			, apprent_exp_rate4
			, lead_exp_rate4
			, lagging_exp_rate4
			, pf_exp_rate4
			, reg_dt
			, update_dt
		) VALUES (
			 #{meter_id}
			, #{billing_dt}
			, #{mtime}
			, #{itime}
			, #{active_imp_tot}
			, #{apprent_imp_tot}
			, #{lead_imp_tot}
			, #{lagging_imp_tot}
			, #{pf_imp_tot}
			, #{active_imp_rate1}
			, #{apprent_imp_rate1}
			, #{lead_imp_rate1}
			, #{lagging_imp_rate1}
			, #{pf_imp_rate1}
			, #{active_imp_rate2}
			, #{apprent_imp_rate2}
			, #{lead_imp_rate2}
			, #{lagging_imp_rate2}
			, #{pf_imp_rate2}
			, #{active_imp_rate3}
			, #{apprent_imp_rate3}
			, #{lead_imp_rate3}
			, #{lagging_imp_rate3}
			, #{pf_imp_rate3}
			, #{active_imp_rate4}
			, #{apprent_imp_rate4}
			, #{lead_imp_rate4}
			, #{lagging_imp_rate4}
			, #{pf_imp_rate4}
			, #{active_exp_tot}
			, #{apprent_exp_tot}
			, #{lead_exp_tot}
			, #{lagging_exp_tot}
			, #{pf_exp_tot}
			, #{active_exp_rate1}
			, #{apprent_exp_rate1}
			, #{lead_exp_rate1}
			, #{lagging_exp_rate1}
			, #{pf_exp_rate1}
			, #{active_exp_rate2}
			, #{apprent_exp_rate2}
			, #{lead_exp_rate2}
			, #{lagging_exp_rate2}
			, #{pf_exp_rate2}
			, #{active_exp_rate3}
			, #{apprent_exp_rate3}
			, #{lead_exp_rate3}
			, #{lagging_exp_rate3}
			, #{pf_exp_rate3}
			, #{active_exp_rate4}
			, #{apprent_exp_rate4}
			, #{lead_exp_rate4}
			, #{lagging_exp_rate4}
			, #{pf_exp_rate4}
			, now()
			, now()
		)
    </insert>
    
    <insert id="insertImport" parameterType="meterBilling">     	
		INSERT INTO EMI_METER_BILLING (
			meter_id
			, billing_dt
			, mtime
			, itime
			, active_imp_tot
			, apprent_imp_tot
			, lead_imp_tot
			, lagging_imp_tot
			, pf_imp_tot
			, active_imp_rate1
			, apprent_imp_rate1
			, lead_imp_rate1
			, lagging_imp_rate1
			, pf_imp_rate1
			, active_imp_rate2
			, apprent_imp_rate2
			, lead_imp_rate2
			, lagging_imp_rate2
			, pf_imp_rate2
			, active_imp_rate3
			, apprent_imp_rate3
			, lead_imp_rate3
			, lagging_imp_rate3
			, pf_imp_rate3
			, active_imp_rate4
			, apprent_imp_rate4
			, lead_imp_rate4
			, lagging_imp_rate4
			, pf_imp_rate4		
			, reg_dt
			, update_dt
		) VALUES (
			 #{meter_id}
			, #{billing_dt}
			, #{mtime}
			, #{itime}
			, #{active_imp_tot}
			, #{apprent_imp_tot}
			, #{lead_imp_tot}
			, #{lagging_imp_tot}
			, #{pf_imp_tot}
			, #{active_imp_rate1}
			, #{apprent_imp_rate1}
			, #{lead_imp_rate1}
			, #{lagging_imp_rate1}
			, #{pf_imp_rate1}
			, #{active_imp_rate2}
			, #{apprent_imp_rate2}
			, #{lead_imp_rate2}
			, #{lagging_imp_rate2}
			, #{pf_imp_rate2}
			, #{active_imp_rate3}
			, #{apprent_imp_rate3}
			, #{lead_imp_rate3}
			, #{lagging_imp_rate3}
			, #{pf_imp_rate3}
			, #{active_imp_rate4}
			, #{apprent_imp_rate4}
			, #{lead_imp_rate4}
			, #{lagging_imp_rate4}
			, #{pf_imp_rate4}			
			, now()
			, now()
		)
		ON DUPLICATE KEY UPDATE 
		active_imp_tot    			=  #{active_imp_tot}   
		, apprent_imp_tot   			=  #{apprent_imp_tot}  
		, lead_imp_tot      			=  #{lead_imp_tot}     
		, lagging_imp_tot   			=  #{lagging_imp_tot}  
		, pf_imp_tot        			=  #{pf_imp_tot}       
		, active_imp_rate1  			=  #{active_imp_rate1} 
		, apprent_imp_rate1 			=  #{apprent_imp_rate1}
		, lead_imp_rate1    			=  #{lead_imp_rate1}   
		, lagging_imp_rate1 			=  #{lagging_imp_rate1}
		, pf_imp_rate1      			=  #{pf_imp_rate1}     
		, active_imp_rate2  			=  #{active_imp_rate2} 
		, apprent_imp_rate2 			=  #{apprent_imp_rate2}
		, lead_imp_rate2    			=  #{lead_imp_rate2}   
		, lagging_imp_rate2 			=  #{lagging_imp_rate2}
		, pf_imp_rate2      			=  #{pf_imp_rate2}     
		, active_imp_rate3  			=  #{active_imp_rate3} 
		, apprent_imp_rate3 			=  #{apprent_imp_rate3}
		, lead_imp_rate3    			=  #{lead_imp_rate3}   
		, lagging_imp_rate3 			=  #{lagging_imp_rate3}
		, pf_imp_rate3      			=  #{pf_imp_rate3}     
		, active_imp_rate4  			=  #{active_imp_rate4} 
		, apprent_imp_rate4 			=  #{apprent_imp_rate4}
		, lead_imp_rate4    			=  #{lead_imp_rate4}   
		, lagging_imp_rate4 			=  #{lagging_imp_rate4}
		, pf_imp_rate4		  			=  #{pf_imp_rate4}
		, mtime							=  #{mtime}
		, itime							=  #{itime}	
		, update_dt         			=  now()               
    </insert>
    
    <insert id="insertExport" parameterType="meterBilling">     	
		INSERT INTO EMI_METER_BILLING (
			meter_id
			, billing_dt
			, mtime
			, itime
			, active_exp_tot
			, apprent_exp_tot
			, lead_exp_tot
			, lagging_exp_tot
			, pf_exp_tot
			, active_exp_rate1
			, apprent_exp_rate1
			, lead_exp_rate1
			, lagging_exp_rate1
			, pf_exp_rate1
			, active_exp_rate2
			, apprent_exp_rate2
			, lead_exp_rate2
			, lagging_exp_rate2
			, pf_exp_rate2
			, active_exp_rate3
			, apprent_exp_rate3
			, lead_exp_rate3
			, lagging_exp_rate3
			, pf_exp_rate3
			, active_exp_rate4
			, apprent_exp_rate4
			, lead_exp_rate4
			, lagging_exp_rate4
			, pf_exp_rate4
			, reg_dt
			, update_dt
		) VALUES (
			 #{meter_id}
			, #{billing_dt}
			, #{mtime}
			, #{itime}
			, #{active_exp_tot}
			, #{apprent_exp_tot}
			, #{lead_exp_tot}
			, #{lagging_exp_tot}
			, #{pf_exp_tot}
			, #{active_exp_rate1}
			, #{apprent_exp_rate1}
			, #{lead_exp_rate1}
			, #{lagging_exp_rate1}
			, #{pf_exp_rate1}
			, #{active_exp_rate2}
			, #{apprent_exp_rate2}
			, #{lead_exp_rate2}
			, #{lagging_exp_rate2}
			, #{pf_exp_rate2}
			, #{active_exp_rate3}
			, #{apprent_exp_rate3}
			, #{lead_exp_rate3}
			, #{lagging_exp_rate3}
			, #{pf_exp_rate3}
			, #{active_exp_rate4}
			, #{apprent_exp_rate4}
			, #{lead_exp_rate4}
			, #{lagging_exp_rate4}
			, #{pf_exp_rate4}				
			, now()
			, now()
		)
		ON DUPLICATE KEY UPDATE		
		active_exp_tot      = #{active_exp_tot}
		, apprent_exp_tot     = #{apprent_exp_tot}
		, lead_exp_tot        = #{lead_exp_tot}     
		, lagging_exp_tot     = #{lagging_exp_tot}  
		, pf_exp_tot          = #{pf_exp_tot}       
		, active_exp_rate1    = #{active_exp_rate1} 
		, apprent_exp_rate1   = #{apprent_exp_rate1}
		, lead_exp_rate1      = #{lead_exp_rate1}   
		, lagging_exp_rate1   = #{lagging_exp_rate1}
		, pf_exp_rate1        = #{pf_exp_rate1}    
		, active_exp_rate2    = #{active_exp_rate2} 
		, apprent_exp_rate2   = #{apprent_exp_rate2}
		, lead_exp_rate2      = #{lead_exp_rate2}   
		, lagging_exp_rate2   = #{lagging_exp_rate2}
		, pf_exp_rate2        = #{pf_exp_rate2}    
		, active_exp_rate3    = #{active_exp_rate3} 
		, apprent_exp_rate3   = #{apprent_exp_rate3}
		, lead_exp_rate3      = #{lead_exp_rate3}  
		, lagging_exp_rate3   = #{lagging_exp_rate3}
		, pf_exp_rate3        = #{pf_exp_rate3}    
		, active_exp_rate4    = #{active_exp_rate4}
		, apprent_exp_rate4   = #{apprent_exp_rate4}
		, lead_exp_rate4      = #{lead_exp_rate4}   
		, lagging_exp_rate4   = #{lagging_exp_rate4}
		, pf_exp_rate4        = #{pf_exp_rate4}
		, mtime				  = #{mtime}
		, itime				  = #{itime}	         
		, update_dt           = now()
    </insert>
    
    <insert id="insertAll" parameterType="meterBilling">     	
		INSERT INTO EMI_METER_BILLING (
			meter_id
			, billing_dt
			, mtime
			, itime
			, active_imp_tot
			, apprent_imp_tot
			, lead_imp_tot
			, lagging_imp_tot
			, pf_imp_tot
			, active_imp_rate1
			, apprent_imp_rate1
			, lead_imp_rate1
			, lagging_imp_rate1
			, pf_imp_rate1
			, active_imp_rate2
			, apprent_imp_rate2
			, lead_imp_rate2
			, lagging_imp_rate2
			, pf_imp_rate2
			, active_imp_rate3
			, apprent_imp_rate3
			, lead_imp_rate3
			, lagging_imp_rate3
			, pf_imp_rate3
			, active_imp_rate4
			, apprent_imp_rate4
			, lead_imp_rate4
			, lagging_imp_rate4
			, pf_imp_rate4
			, active_exp_tot
			, apprent_exp_tot
			, lead_exp_tot
			, lagging_exp_tot
			, pf_exp_tot
			, active_exp_rate1
			, apprent_exp_rate1
			, lead_exp_rate1
			, lagging_exp_rate1
			, pf_exp_rate1
			, active_exp_rate2
			, apprent_exp_rate2
			, lead_exp_rate2
			, lagging_exp_rate2
			, pf_exp_rate2
			, active_exp_rate3
			, apprent_exp_rate3
			, lead_exp_rate3
			, lagging_exp_rate3
			, pf_exp_rate3
			, active_exp_rate4
			, apprent_exp_rate4
			, lead_exp_rate4
			, lagging_exp_rate4
			, pf_exp_rate4
			, reg_dt
			, update_dt
		) VALUES 
		<foreach collection="list" item="list" index="index" open="(" separator="),("  close=")">
			 #{list.meter_id}
			, #{list.billing_dt}
			, #{list.mtime}
			, #{list.itime}
			, #{list.active_imp_tot}
			, #{list.apprent_imp_tot}
			, #{list.lead_imp_tot}
			, #{list.lagging_imp_tot}
			, #{list.pf_imp_tot}
			, #{list.active_imp_rate1}
			, #{list.apprent_imp_rate1}
			, #{list.lead_imp_rate1}
			, #{list.lagging_imp_rate1}
			, #{list.pf_imp_rate1}
			, #{list.active_imp_rate2}
			, #{list.apprent_imp_rate2}
			, #{list.lead_imp_rate2}
			, #{list.lagging_imp_rate2}
			, #{list.pf_imp_rate2}
			, #{list.active_imp_rate3}
			, #{list.apprent_imp_rate3}
			, #{list.lead_imp_rate3}
			, #{list.lagging_imp_rate3}
			, #{list.pf_imp_rate3}
			, #{list.active_imp_rate4}
			, #{list.apprent_imp_rate4}
			, #{list.lead_imp_rate4}
			, #{list.lagging_imp_rate4}
			, #{list.pf_imp_rate4}
			, #{list.active_exp_tot}
			, #{list.apprent_exp_tot}
			, #{list.lead_exp_tot}
			, #{list.lagging_exp_tot}
			, #{list.pf_exp_tot}
			, #{list.active_exp_rate1}
			, #{list.apprent_exp_rate1}
			, #{list.lead_exp_rate1}
			, #{list.lagging_exp_rate1}
			, #{list.pf_exp_rate1}
			, #{list.active_exp_rate2}
			, #{list.apprent_exp_rate2}
			, #{list.lead_exp_rate2}
			, #{list.lagging_exp_rate2}
			, #{list.pf_exp_rate2}
			, #{list.active_exp_rate3}
			, #{list.apprent_exp_rate3}
			, #{list.lead_exp_rate3}
			, #{list.lagging_exp_rate3}
			, #{list.pf_exp_rate3}
			, #{list.active_exp_rate4}
			, #{list.apprent_exp_rate4}
			, #{list.lead_exp_rate4}
			, #{list.lagging_exp_rate4}
			, #{list.pf_exp_rate4}
			, now()
			, now()
		</foreach>
    </insert>
    
</mapper>