<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : kepco-model
* @FileName : MeterInfoMapper.xml
* @Author : kh.yoon
* @Date : 2020-02-03
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="com.nuri.kepco.model.dao.MeterInfoDAO">

	<sql id="base_where_list">
		<where>
		<if test="meter_id != null" >     
            AND a.meter_id = #{meter_id}
        </if>
        <if test="device_id != null" >     
            AND a.device_id = #{device_id}
        </if>
        <if test="meter_type != null" >     
            AND a.meter_type = #{meter_type}
        </if>
        <if test="energy_type_code != null" >     
            AND a.energy_type_code = #{energy_type_code}
        </if>
        <if test="meter_phase != null" >     
            AND a.meter_phase = #{meter_phase}
        </if>
        <if test="model_seq != null" >     
            AND a.model_seq = #{model_seq}
        </if>       
		<if test="searchfield != null and searchquery != null " >
			AND ${searchfield} like concat(#{searchquery},'%')
		</if>
		</where>
	</sql>
	
	<sql id="order_by_list">	
		<foreach collection="orderByList" item="orderby" open="order by" index="index" separator=",">
            ${orderby.sort} ${orderby.dir}            
        </foreach>
	</sql>
	
	<sql id="query_limit">	
		<if test="limit > 0 " >
			LIMIT #{start}, #{limit}
		</if>
	</sql>
	
	<select id="selectCount" resultType="java.lang.Integer" parameterType="meterInfo">	
		SELECT COUNT(*) co
		FROM EMI_METER_INFO a		
		<include refid="base_where_list" /> 
	</select>

	<select id="selectList" resultType="meterInfo" parameterType="meterInfo">	
		SELECT 
			  meter_id
			, meter_serial
			, device_id
			, meter_type
			, energy_type_code
			, meter_phase
			, branch_id
			, model_seq
			, INET_NTOA(ip) as ip
			, port
			, prog_id
			, prog_version
			, latitude
			, longtitude
			, altitude
			, cosem_device_name
			, acon
			, rcon
			, billing_dt
			, itime
			, mtime
			, lp_period
			, pcon
			, net_metering
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
			, DATE_FORMAT(a.ins_dt,'${prop.dt}') AS ins_dt
			, DATE_FORMAT(a.dest_dt,'${prop.dt}') AS dest_dt
		FROM EMI_METER_INFO a	
			
		<include refid="base_where_list" />
		
		<include refid="order_by_list" />	
			
		<include refid="query_limit" />
		
	</select>
	
	<select id="selectOne" resultType="meterInfo" parameterType="meterInfo">	
		SELECT 
			 meter_id
			, meter_serial
			, device_id
			, meter_type
			, energy_type_code
			, meter_phase
			, branch_id
			, model_seq
			, INET_NTOA(ip) as ip
			, port
			, prog_id
			, prog_version
			, latitude
			, longtitude
			, altitude
			, cosem_device_name
			, acon
			, rcon
			, billing_dt
			, itime
			, mtime
			, lp_period
			, pcon
			, net_metering
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
			, DATE_FORMAT(a.ins_dt,'${prop.dt}') AS ins_dt
			, DATE_FORMAT(a.dest_dt,'${prop.dt}') AS dest_dt
		FROM EMI_METER_INFO a				
		WHERE meter_id = #{meter_id}
	</select>
	
	<select id="selectByMeterSerial" resultType="meterInfo" parameterType="java.lang.String">	
		SELECT 
			 meter_id
			, meter_serial
			, device_id
			, meter_type
			, energy_type_code
			, meter_phase
			, branch_id
			, model_seq
			, INET_NTOA(ip) as ip
			, port
			, prog_id
			, prog_version
			, latitude
			, longtitude
			, altitude
			, cosem_device_name
			, acon
			, rcon
			, billing_dt
			, itime
			, mtime
			, lp_period
			, pcon
			, net_metering
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
			, DATE_FORMAT(a.ins_dt,'${prop.dt}') AS ins_dt
			, DATE_FORMAT(a.dest_dt,'${prop.dt}') AS dest_dt
		FROM EMI_METER_INFO a				
		WHERE meter_serial = #{meter_serial}
	</select>
	
	<insert id="insert" parameterType="meterInfo">
		
		<selectKey keyProperty="meter_id" resultType="String" order="BEFORE">			
			SELECT CONCAT('MT', SUBSTR(IFNULL(SUBSTR(MAX(meter_id),3),0) + 100000001,2)) AS meter_id 
			FROM EMI_METER_INFO
		</selectKey>
		     	
		INSERT INTO EMI_METER_INFO (
			  meter_id
			, meter_serial
			, device_id
			, meter_type
			, energy_type_code
			, meter_phase
			, branch_id
			, model_seq
			, ip
			, port
			, prog_id
			, prog_version
			, latitude
			, longtitude
			, altitude
			, cosem_device_name
			, acon
			, rcon
			, billing_dt
			, itime
			, mtime
			, lp_period
			, pcon
			, net_metering
			, reg_dt
		) VALUES (
			  #{meter_id}
			, #{meter_serial}
			, #{device_id}
			, #{meter_type}
			, #{energy_type_code}
			, #{meter_phase}
			, #{branch_id}
			, #{model_seq}
			, INET_ATON(#{ip})
			, #{port}
			, #{prog_id}
			, #{prog_version}
			, #{latitude}
			, #{longtitude}
			, #{altitude}
			, #{cosem_device_name}
			, #{acon}
			, #{rcon}
			, #{billing_dt}
			, #{itime}
			, #{mtime}
			, #{lp_period}
			, #{pcon}
			, #{net_metering}
			, now()
		)
    </insert>
    
    <update id="update" parameterType="meterInfo">
		UPDATE EMI_METER_INFO SET			 
			meter_serial = #{meter_serial}
			<if test="device_id != null" > , device_id = #{device_id} </if>
			<if test="meter_type != null" >, meter_type = #{meter_type}</if>
			<if test="energy_type_code != null" >, energy_type_code = #{energy_type_code}</if>
			<if test="meter_phase != null" >, meter_phase = #{meter_phase}</if>
			<if test="branch_id != null" >, branch_id = #{branch_id}</if>
			<if test="model_seq != null" >, model_seq = #{model_seq}</if>
			<if test="ip != null" >, ip = INET_ATON(#{ip})</if>
			<if test="port != null" >, port = #{port}</if>
			<if test="prog_id != null" >, prog_id = #{prog_id}</if>
			<if test="prog_version != null" >, prog_version = #{prog_version}</if>
			<if test="latitude != null" >, latitude = #{latitude}</if>
			<if test="longtitude != null" >, longtitude = #{longtitude}</if>
			<if test="altitude != null" >, altitude = #{altitude}</if>	
			<if test="cosem_device_name != null" >, cosem_device_name = #{cosem_device_name}</if>
			<if test="acon != null" >, acon = #{acon}</if>
			<if test="rcon != null" >, rcon = #{rcon}</if>
			<if test="billing_dt != null" >, billing_dt = #{billing_dt}</if>
			<if test="itime != null" >, itime = #{itime}</if>
			<if test="mtime != null" >, mtime = #{mtime}</if>
			<if test="lp_period != null" >, lp_period = #{lp_period}</if>
			<if test="pcon != null" >, pcon = #{pcon}</if>
			<if test="net_metering != null" >, net_metering = #{net_metering}</if>
		WHERE meter_id = #{meter_id}
	</update>
	
	<select id="getMeterList" resultType="meterInfo" parameterType="meterInfo">	
		SELECT 
			b.device_serial
			, br.branch_nm
			, a.meter_serial
			, b.device_serial
			, b.allow_yn
			, mo.model_nm
			, mo.vendor_seq
			, ifnull(fnc_get_code_nm(a.meter_type),'') as meter_type
			, ifnull(fnc_get_code_nm(a.meter_phase),'') as meter_phase
			, date_format(substr(billing_dt,1,8), '%y-%m-%d') as billing_dt
			, ifnull(lp_period,'') as lp_period
			, ifnull(cosem_device_name,'') as cosem_device_name 	
			, date_format(a.reg_dt, '%y-%m-%d %h:%i:%s')   as reg_dt
		    <!-- , ifnull(date_format(d.last_comm_dt, '%y-%m-%d %h:%i:%s'),'')   as last_comm_dt -->
			, ifnull(date_format(d.last_renw_dt, '%y-%m-%d %h:%i:%s'),'')   as last_renw_dt			
			, d.device_status
			, DATE_FORMAT(d.last_comm_dt,'${prop.dt}') AS last_comm_dt			
			<!-- , ifnull(a.acon,'') as acon
			, ifnull(a.rcon,'') as rcon
			, ifnull(a.pcon,'') as pcon -->
		FROM EMI_METER_INFO A 
		INNER JOIN EMI_DEVICE_INFO B ON (A.DEVICE_ID = B.DEVICE_ID)
		LEFT OUTER JOIN EMI_DEVICE_STATUS D ON (A.METER_ID = D.DEVICE_ID AND DEVICE_FLAG = 'M')
		LEFT OUTER JOIN EMI_BRANCH_INFO BR ON B.BRANCH_ID = BR.BRANCH_ID
		LEFT OUTER JOIN EMI_DEVICE_MODEL MO ON B.MODEL_SEQ = MO.MODEL_SEQ
		
		<include refid="base_where_list" />	
		
		<include refid="order_by_list" />	
		
		<include refid="query_limit" />
		
	</select>

	<select id="getMeterListCnt" resultType="int" parameterType="meterInfo">		
		SELECT 
			COUNT(*) co
		FROM EMI_METER_INFO A 
		INNER JOIN EMI_DEVICE_INFO B ON (A.DEVICE_ID = B.DEVICE_ID)
		LEFT OUTER JOIN EMI_DEVICE_STATUS D ON (A.METER_ID = D.DEVICE_ID AND DEVICE_FLAG = 'M')
		LEFT OUTER JOIN EMI_BRANCH_INFO BR ON B.BRANCH_ID = BR.BRANCH_ID
		LEFT OUTER JOIN EMI_DEVICE_MODEL MO ON B.MODEL_SEQ = MO.MODEL_SEQ
		
		<include refid="base_where_list" />	
	</select>
	
</mapper>
