<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : kepco-model
* @FileName : MeterValueMapper.xml
* @Author : kh.yoon
* @Date : 2020-02-03
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="com.nuri.kepco.model.dao.MeterValueDAO">

	<sql id="base_where_list">
		<where>
		<if test="meter_id != null" >     
            AND a.meter_id = #{meter_id}
        </if>
        <if test="channel != null" >     
            AND a.channel = #{channel}
        </if>
        <if test="sdate != null and edate != null and sdate != '' and edate != '' " >     
            AND a.read_dt between #{sdate} AND #{edate}
        </if>
		<if test="searchfield != null and searchquery != null " >
			AND ${searchfield} like concat(#{searchquery},'%')
		</if>
		</where>
	</sql>
	
	<sql id="order_by_list">	
		<foreach collection="orderByList" item="orderby" open="order by" index="index" separator=",">
            ${orderby.sort} ${orderby.dir}            
        </foreach>
	</sql>
	
	<sql id="query_limit">	
		<if test="limit > 0 " >
			LIMIT #{start}, #{limit}
		</if>
	</sql>
	
	<select id="selectCount" resultType="java.lang.Integer" parameterType="meterValue">	
		SELECT COUNT(*) co
		FROM EMI_METER_VALUE a		
		<include refid="base_where_list" /> 
	</select>

	<select id="selectList" resultType="meterValue" parameterType="meterValue">	
		SELECT 
			meter_id
			, read_dt
			, channel
			, meter_value
			, sect_meter_value
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
		FROM EMI_METER_VALUE a	
			
		<include refid="base_where_list" />
		
		<include refid="order_by_list" />	
			
		<include refid="query_limit" />
		
	</select>
	
	<select id="selectOne" resultType="meterValue" parameterType="meterValue">	
		SELECT 
			meter_id
			, read_dt
			, channel
			, meter_value
			, sect_meter_value
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt
		FROM EMI_METER_VALUE a				
		WHERE object_id = #{object_id}
	</select>
	
	<insert id="insert" parameterType="meterValue">
	 	
		INSERT INTO EMI_METER_VALUE (
			meter_id
			, read_dt
			, channel
			, meter_value
			, sect_meter_value
		) VALUES (
			  #{meter_id}
			, #{read_dt}
			, #{channel}
			, #{meter_value}
			, #{sect_meter_value}
		)
    </insert>
    
    <insert id="insertAll" parameterType="java.util.List">
		INSERT INTO EMI_METER_VALUE (
			meter_id
			, read_dt
			, channel
			, meter_value
			, sect_meter_value
			, reg_dt	
		) VALUES	
		<foreach collection="list" item="list" index="index" open="(" separator="),("  close=")">
			#{list.meter_id}
			, #{list.read_dt}
			, #{list.channel}
			, #{list.meter_value}
			, #{list.sect_meter_value}			
			, now()
		</foreach>
		ON DUPLICATE KEY UPDATE meter_value=VALUES(meter_value);
	</insert>
    
    <update id="update" parameterType="meterValue">
		UPDATE EMI_METER_VALUE SET			
			meter_value = #{meter_value}
			, sect_meter_value = #{sect_meter_value}
		WHERE meter_id = #{meter_id} 
	      AND read_dt = #{read_dt} 
	      AND channel = #{channel}
	</update>
	
</mapper>