<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : kepco-model
* @FileName : objectModelDAO.xml
* @Author : kh.yoon
* @Date : 2020-02-03
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="com.nuri.kepco.model.dao.ObjectModelDAO">

	<sql id="base_where_list">
		<where>
		<if test="object_id != null" >     
            AND a.object_id = #{object_id}
        </if>
        <if test="instances != null" >     
            AND a.instances = #{instances}
        </if>
        <if test="mandatory != null" >     
            AND a.mandatory = #{mandatory}
        </if>
		<if test="searchfield != null and searchquery != null " >
			AND ${searchfield} like concat(#{searchquery},'%')
		</if>
		</where>
	</sql>
	
	<sql id="order_by_list">	
		<foreach collection="orderByList" item="orderby" open="order by" index="index" separator=",">
            ${orderby.sort} ${orderby.dir}            
        </foreach>
	</sql>
	
	<sql id="query_limit">	
		<if test="limit > 0 " >
			LIMIT #{start}, #{limit}
		</if>
	</sql>
	
	<select id="selectCount" resultType="java.lang.Integer" parameterType="objectModel">	
		SELECT COUNT(*) co
		FROM EMI_OBJECT_MODEL a		
		<include refid="base_where_list" /> 
	</select>

	<select id="selectList" resultType="objectModel" parameterType="objectModel">	
		SELECT 
			object_id
			, object_nm
			, instances
			, mandatory
			, object_urn
			, descr
			, reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt  
			, update_id
			, DATE_FORMAT(a.update_dt,'${prop.dt}') AS dest_dt
		FROM EMI_OBJECT_MODEL a	
			
		<include refid="base_where_list" />

		<include refid="order_by_list" />
		
		<include refid="query_limit" />
		
	</select>
	
	<select id="selectOne" resultType="objectModel" parameterType="objectModel">	
		SELECT 
			object_id
			, object_nm
			, instances
			, mandatory
			, object_urn
			, descr
			, reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt  
			, update_id
			, DATE_FORMAT(a.update_dt,'${prop.dt}') AS dest_dt
		FROM EMI_OBJECT_MODEL a				
		WHERE object_id = #{object_id}
	</select>
	
	<insert id="insert" parameterType="objectModel">     	
		INSERT INTO EMI_OBJECT_MODEL (
			object_id
			, object_nm
			, instances
			, mandatory
			, object_urn
			, descr
			, reg_id
			, reg_dt
			, update_id
			, update_dt
		) VALUES (
			  #{object_id}
			, #{object_nm}
			, #{instances}
			, #{mandatory}
			, #{object_urn}
			, #{descr}
			, #{reg_id}
			, now()
			, #{update_id}
			, now()
		)
    </insert>
    
    <update id="update" parameterType="objectModel">
		UPDATE EMI_OBJECT_MODEL SET
			object_nm = #{object_nm}
			, instances = #{instances}
			, mandatory = #{mandatory}
			, object_urn = #{object_urn}
			, descr = #{descr}			
			, update_id = #{update_id}
			, update_dt = now()
		WHERE object_id = #{object_id}
	</update>
	
	<select id="selectObjectList" resultType="objectModel" parameterType="objectModel">	
		SELECT 
			object_id
			, object_nm
			, instances
			, mandatory
			, object_urn
			, descr
			, reg_id
			, DATE_FORMAT(a.reg_dt,'${prop.dt}') AS reg_dt  
			, update_id
			, DATE_FORMAT(a.update_dt,'${prop.dt}') AS dest_dt
		FROM EMI_OBJECT_MODEL a	
		WHERE
		a.object_id != 0 
		
		<if test="searchfield != null and searchquery != null " >
			AND ${searchfield} like concat(#{searchquery},'%')
		</if>
		<if test="instances != null" >     
            AND a.instances = #{instances}
        </if>

		order by convert(object_id, decimal)	
			
		<include refid="query_limit" />
		
	</select>
	
</mapper>